.container {
  margin: 15vh 20% 15vh 20%;
  height: 70vh;
  width: 60%;
  display: flex;
  flex-flow: row;
  justify-content: center; /*horizontal center*/
  align-items: center;
  background-image: url(Edited.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.outerItem {
  width: 30%;
  height: 70vh;
  padding: 0px 30px 0px 30px;
}

.innerItem {
  text-align: right;
}

/*h1 {
  padding-top:180px;
}*/

/* unvisited link
a:link {
    color: #6bcf96;
}

/* visited link
a:visited {
    color: #0dd9d5;
}

/* mouse over link
a:hover {
    color: #00913d;
}

/* selected link
a:active {
    color: #aef5cc;
}
*/
