body {
    font-family: 'Fira Code', sans-serif;
    margin: 0 auto;
}

.container {
    background: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100svh;
}

h1, h1 > span {
    font-size: 6vw;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(163, 208, 255));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.one {
    pointer-events: none;
    opacity: 0;
    animation: fade 1s forwards 1s;
}

.two {
    pointer-events: none;
    opacity: 0;
    animation: fade 1s forwards 2s;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

nav span {
    color: rgb(232, 232, 232);
    font-size: 2vw;
}

img {
    width: 3vw;
    height: 3vw;

    pointer-events: none;
    animation: fade 1s forwards 3s;
    opacity: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}