@viewport {
  width: device-width;
  zoom: 1.0 ;
}

@media (min-width:392px) and (max-width:1024px) {
  .container {
      width: 100%;
      height: 98vh;
      position: relative;
      display: flex;
      flex-flow: row;
      justify-content: center; /*horizontal center*/
      align-items: center;
  }

  .outerItem {
    position:absolute;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .outerItem2{
    position: relative;
    z-index: 0;
    opacity: 30%;
    top: 50%;
    transform: translateY(-50%);
  }

  .innerItem {
    text-align: center;
    margin-top: 10px;
  }

  .btn {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    opacity: 80%;
  }

  .btn:hover {
    background-color: #ccf2ff;
    opacity: 100%;
  }

  .outerItem2 > img {
    width: 100%;
    height: auto;
  }

  h1, h2 {
    padding: 0px 10px 0 10px;
    color: #ccffcc;
    font-family: 'Source Code Pro', monospace;
  }

  a {
    text-decoration: none;
    color:#ccffcc;
  }

  a > img {
    padding-top:30px;
    vertical-align: bottom;
    padding-left: 10px;
  }
}

@media (min-width:1025px) {
  .container {
    height: 60vh;
    height: calc(var(--vh, 1vh) * 98);
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around; /*horizontal center*/
    align-items: center;
    background-color: #ccf2ff;
  }

  .outerItem {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .innerItem {
    text-align: center;
    margin-top: 10px;
  }

  .outerItem2 {
    width: 30%;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 98);
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color:lightcoral;
  }

  div > img {
    width: 95%;
    border-radius: 50%;
    align-self: center;
  }

  .btn {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
  }

  .btn:hover {
    background-color: #75eaff;
  }

  h1, h2 {
    font-family: 'Source Code Pro', monospace;
  }

  .dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  a > img {
    vertical-align: bottom;
    padding-left: 10px;
  }

  #link-noStyle {
    text-decoration:none;
    color: #0099ff;
  }
}
