*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.landingContainer {
padding: 1em 5em;
text-align: center;
}

.landingContainer p {
  color: rgb(0, 75, 145);
  padding: 0 20%;
}

.aboutContainer {
background-color: lightgoldenrodyellow;
padding: 1em 5em;
display: flex;
justify-content: space-evenly;
} 

.aboutText {
  width: 45%;
}

.aboutText p {
  padding-top: 5%;
  color: rgb(0, 75, 145);
}

.aboutImage {
  width: 20%;
  align-self: center;
}

.navContainer {
  width: 78%;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

.navContainer h4 {
  margin-top: 0;
}

.navContainer hr {
  border-width: 2px;
  border-color: #1C3661;
  border-style: double;
  width: 20%;
  margin-bottom: 2em;
}

.btn {
  display: inline-block;

  text-transform: uppercase;
  text-decoration: none;

  background: #ccf2ff;
  border-radius: 62.5px;
  border-style: solid;

  padding: 1em 2.5em;  
}

.btn:hover{
  background: lightgoldenrodyellow;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.row + .row {
  margin-top: -1px;
}

.col + .col {
  margin-left: -1px;
}

.col {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  border-color: #1C3661;
}

h1,h2,h3,h4 {
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
  color: #2C5699;
}

h1 {
  font-size: 4em;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  font-weight: 300;
}

h3 {
  font-size: 2.5em;
  font-weight: 200;
}

h4 {
  font-size: 2em;
  font-weight: 100;
}

p {
  font-size: 20px;
}

/* footer */
.footer {
  display: flex;
  background-color: lightgoldenrodyellow;
  padding: 2em 0;
  font-family: Menlo, monospace;
  justify-content: space-evenly;
}

.footerText {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.footerText h5 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.footerText p {
  font-size: 0.8em;
}

.footerRow {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.first {
  height: 100%;
  display: flex;
  justify-content: right;
  padding-right: 1em;
}

.footerCol + .footerCol {
  padding-left: 2em;
}

.footerCol p {
  margin: 0 auto;
  color: rgb(143, 197, 248);
}

.footerCol a {
  color: rgb(143, 197, 248);
  text-decoration: none;
  font-size: 1.2em;
}

.footerCol a:hover {
  font-weight: 900;
  font-size: 1.2em;
  color:  rgb(75, 168, 255);
}


.second {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1em;
}

.second p {
  font-size: 0.9em;
}

.second img {
  display: block;
  width: 2em;
  height: 2em;
}

.second a {
  display: block;
  width: 2em;
  height: 2em;
}

p + a {
  margin-left: 1em;
}

a + a {
  margin-left: 1em;
}

code {
  background-color:#EEEEEE;
  font-family:'Courier New', Courier, monospace,Consolas,Monaco,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono;
}

.infoContainer1 {
  padding: 1em 15%;
  text-align: left;
  }
  
.infoContainer1 p {
  color: rgb(0, 75, 145);
}


@media screen and (max-width: 800px) {
  body {
    font-size: 10px;
  }
  p {
    font-size: 1.1em;
  }
  .landingContainer p {
    padding: 0;
  }
  .infoContainer1 p {
    padding: 0;
  }
  .aboutContainer {
    padding: 1em 2em;
  }
  .aboutText {
    width: 100%;
    text-align: center;
  }
  .aboutText p {
    padding-top: 0;
  }
  .aboutImage {
    width: 0;
  }
  .navContainer {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
  .col {
    width:100%;
  }
  .row + .row {
    margin-top: -1px;
  }
  .col + .col {
    margin-left: 0;
    margin-top: -1px;
  }

  /* footer */
  .footerText {
    width: 40%;
  }
  .footerRow {
    width: 40%;
  }
  .first {
    flex-direction: column;
    align-items: center;
  }
  .first p {
    display: none; 
  }
  .footerCol {
    padding-left: 1em;
    padding-bottom: 0.3em;
  }
  .footerCol + .footerCol {
    padding-left: 1em;
  }
  .second p {
    display: none;
  } 
}

/* Dark mode 
@media (prefers-color-scheme: dark) {
  .landingContainer {
    background-color: #192e41;
  }

  .landingContainer p {
    color: #4a7fd4;
  }

  .aboutContainer, .footer {
    background-color: #3b454e;
  }

  .aboutContainer h2{
    color: black;
  }

  .aboutContainer p, .footer p {
    color: #80878d;
  }

  .footer img {
    filter: invert(1) hue-rotate(145deg);
  }

  .footerRow a {
    color: #80878d;
  }

  .footerRow a:hover {
    color: #a3a3a3;
  }

  .btn {
    border-color: #4a7fd4;
  }

  .btn:hover {
    background-color: #2d3944;
    color: #80878d;
  }
}
*/