@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.container {
  height: 60vh;
  height: calc(var(--vh, 1vh) * 98);
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around; /*horizontal center*/
  align-items: center;
  background-color: #ccf2ff;
}

.outerItem {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.innerItem {
  text-align: center;
  margin-top: 10px;
}

.outerItem2 {
  width: 30%;
  height: 60vh;
  height: calc(var(--vh, 1vh) * 98);
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color:lightcoral;
}

div > img {
  width: 95%;
  border-radius: 50%;
  align-self: center;
}

.btn {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}

.btn:hover {
  background-color: #75eaff;
}

h1, h2 {
  font-family: 'Source Code Pro', monospace;
}

.dialog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a > img {
  vertical-align: bottom;
  padding-left: 10px;
}

#link-noStyle {
  text-decoration:none;
  color: #0099ff;
}
